<div class="container clearfix">

<h2>admin site</h2>

<hr />
<h3>world list</h3>

<table id="worldListTable" border="1">
	<tr>
		<td>name</td>
		<td>ipAddr</td>
		<td>port</td>
		<td>delay</td>
		<td>population</td>
		<td>capacity</td>
		<td>switch</td>
		<td>entryLevel</td>
		<td>nodeEnv</td>
		<td>status</td>
	</tr>
	<% for (var i=0; i<data.length; i++) { %>
	<tr>
		<td> <%= data[i].name %> </td>
		<td> <%= data[i].ipAddr %> </td>
		<td> <%= data[i].port %> </td>
		<td> <%= data[i].delay %> </td>
		<td> <%= data[i].population %> </td>
		<td> <%= data[i].capacity %> </td>
		<td> 
			<select name="switchSelect">
				<option value="0" <% if (data[i].switch=="0"){ %> 
					selected='selected'
				<% }%>>0: normal</option>
				<option value="1" <% if (data[i].switch=="1"){ %> 
					selected='selected'
				<% }%>>1: block newbies</option>
				<option value="2" <% if (data[i].switch=="2"){ %> 
					selected='selected'
				<% }%>>2: block entrance</option>
				<option value="3" <% if (data[i].switch=="3"){ %> 
					selected='selected'
				<% }%>>3: disabled</option>
			</select> 
		</td>
		<td> <%= data[i].entryLevel %> </td>
		<td> <%= data[i].nodeEnv %> </td>
		<td> running/stopped </td>
	</tr>
	<% } %>
</table>

<hr />
<h3>world register</h3>
	<form id="worldCreateForm" >
		<div>name: <input name="name" value="" /> </div>
		<div>port:<input name="port" value="" /> </div>
		<div>capacity: <input name="capacity" value="" /> </div>
		<div><input id="worldCreateBtn" type="button" value="create"/></div>
	</form>

</div>

<script type='text/javascript'>
	$("#worldCreateBtn").click(function(){
		$.ajax({
			type: 'POST',
			url: '/admin/world/create',
			data: {
				name: $("#worldCreateForm").find("input[name='name']").val(), 
				port: $("#worldCreateForm").find("input[name='port']").val(), 
				cap: $("#worldCreateForm").find("input[name='capacity']").val(), 
			},
			success: function (){
				alert('ok');
			},
			error: function(){
				alert('error');
			}
		});
	});

</script>